@model Project_AutoSuggestion_E_AppointmentApp.Models.Doctor

@{
    ViewBag.Title = "Doctor Registration Process";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/jquery-ui-1.8.20.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Doctor Registration Process</h2>
<p class="message-success">@ViewBag.message</p>
@using (Html.BeginForm("Create", "Doctor", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Doctor</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorName)
                @Html.ValidationMessageFor(model => model.DoctorName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorEmail)
                @Html.ValidationMessageFor(model => model.DoctorEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorPhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorPhoneNumber)
                @Html.ValidationMessageFor(model => model.DoctorPhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorLocation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorLocation)
                @Html.ValidationMessageFor(model => model.DoctorLocation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorDegree, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorDegree)
                @Html.ValidationMessageFor(model => model.DoctorDegree)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DesignationId, "DesignationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DesignationId", String.Empty)
                @Html.ValidationMessageFor(model => model.DesignationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorFee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorFee)
                @Html.ValidationMessageFor(model => model.DoctorFee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorExperience, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorExperience)
                @Html.ValidationMessageFor(model => model.DoctorExperience)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "DepartmentId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", String.Empty)
                @Html.ValidationMessageFor(model => model.DepartmentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoctorImage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="image" value="Upload Picture" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">