@model IEnumerable<Project_AutoSuggestion_E_AppointmentApp.Models.Doctor>

@{
    ViewBag.Title = "Doctor List";
}

<h2>Doctor List</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@using  (Html.BeginForm("Index","Doctor",FormMethod.Post))
{
    
    @Html.Label("Enter the Doctor Full or Partial Name")
    @Html.RadioButton("SearchType", "ByDoctorName",true)
    @Html.Editor("DoctorName")
    
    
    @Html.Label("Select Doctor")
    @Html.RadioButton("SearchType", "ByDoctorId",false)
    @Html.DropDownList("DoctorId",String.Empty)
    
    <input type="submit" name="submit" value="Search Doctor Please"/>
    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation.DesignationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorExperience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation.DesignationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorExperience)
        </td>
        <td>
            <img src="@Url.Content("~/Images/" + item.DoctorImage)" width="70px" height="70px" />
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DoctorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DoctorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DoctorId })
        </td>*@
    </tr>
}

</table>
