@model IEnumerable<Project_AutoSuggestion_E_AppointmentApp.Models.Patient>

@{
    ViewBag.Title = "Patient List";
}

<h2>Patient List</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gender.GenderType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.GenderType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        <td>
            <img src="@Url.Content("~/Images/" + item.PatientImage)" width="70px" height="70px" />
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientId })
        </td>*@
    </tr>
}

</table>
